@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/* a reordering of this page would be in order */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: #0A1B21;
  font-family: "Open Sans", sans-serif;
  color: #F3F7E1;
  letter-spacing: 0.03rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* This creates a three-column layout */
  align-items: start; /* This aligns items to the start of the grid cell */
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: baseline;
  height: 150px;
}

.footer h1 {
  font-size: 1.15rem;
  font-weight: 800;
  color: #F3F7E1;
  letter-spacing: 0.03em;
}

.footer-bottom {
  margin-top: 25px; 
}

.footer-bottom p {
  font-size: 0.675rem;
}

.footer-tagline {
  font-size: 0.675rem;
  font-weight: 700;
  color: #FAAD26;
  letter-spacing: 0.03em;
  margin-top: 16px; 
  margin-bottom: 16px; 
}

.footer-buttons {
  display: flex;
  justify-content: center;
}

.footer-button {
  border: 1px solid rgba(204, 203, 199, 0.34);
  background-color: rgba(217, 217, 217, 0.05);
  color: #D3C8BF;
  font-size: 0.65rem;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-right: 20px;
  min-width: 80px;
  text-align: center;
  flex: 1 0 auto;
  margin: 0 10px;
  margin-bottom: -15px;
}

.email-input {
  background-color: #F0F0F0;
  border-radius: 20px;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
}

.legal-info {
  display: block;
  margin-top: -20px; /* Adjust this value as needed */
  margin-bottom: 2px; /* Adjust this value as needed */
}

.footer-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
  margin-right: 20px;
}

.footer-column.brand {
  text-align: center;
}

.footer-column.legal {
  text-align: left;
  font-size: 0.675rem;
}

.footer-column.contact {
  text-align: right;
  line-height: 0.2;
  font-size: 0.675rem;
}

.contact-info {
  margin-top: -5px; /* Adjust this value as needed */
  margin-bottom: 12px; /* Adjust this value as needed */
  line-height: 0.7;
  font-size: 0.675rem;
}

.contact-info-wrapper {
  margin-top: 10px; /* Adjust this value as needed */
}

.footer-link {
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
}

.center-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.center-section {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.email-subscription {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px; /* Adjust this value as needed */
  overflow: hidden;
  background-color: #F0F0F0;
  margin-top: 25px;
  width: 200px;
}

.email-input {
  flex-grow: 1;
  padding: 0.5em;
  border: none;
  outline: none;
  font-size: 0.675rem;
}

.subscribe-button {
  width: 30px; /* Adjust this value as needed */
  height: 30px; /* Adjust this value as needed */
  position: absolute;
  right: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  border-radius: 50%; /* Make the button circular */
  cursor: pointer;
}

.social-icon img {
  transform: scale(0.75);
}

.social-icon:last-child {
  margin-right: 0;
}

.footer-link:hover, .footer-button:hover {
  color: #D3C8BF;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 1em;
  }
}