@font-face {
  font-family: 'Copperplate Gothic Bold Regular';
  src: url('../fonts/CopperplateGothicBold.ttf') format('truetype');
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Style for the title and tagline container */
.header-title {
  margin-bottom: 1.25rem; /* adjust as needed */
  font-size: 0.75rem;
}

.brand-container::before,
.brand-container::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7.5rem;
  height: 0.1225rem;
  background-color: #E1B662;
}

.brand-container::before {
  left: -9.42rem;
}

.brand-container::after {
  right: -9.42rem;
}

.brand-container {
  position: relative;
  display: inline-block;
  font-size: 3em;
  color: #E1B662;
  font-family: 'Copperplate Gothic Bold Regular', serif;
  letter-spacing: 0.15em;
}

.tagline-container {
  font-size: 1.1em;
  color: #D3C8BF;
  font-family: 'Copperplate Gothic Bold Regular', serif;
  letter-spacing: 0.25em;
}

.header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
}

.header-button {
  border: 0.041875rem solid rgba(204, 203, 199, 0.34);
  background-color: rgba(217, 217, 217, 0.05);
  color: #D3C8BF;
  font-size: 0.58625rem;
  border-radius: 0.8375rem;
  padding: 0.335em 0.67em;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 4.1875rem; /* Ensure consistent width */
  margin-top: -0.9rem;
  text-decoration: none;
}

.header-button:hover {
  background-color: rgba(217, 217, 217, 0.1); /* Slight change on hover */
  color: #F3F7E1;
}

@media (max-width: 48em) {
  .header-container {
    flex-direction: column;
  }

  .header-button {
    margin-bottom: 0.625rem; /* Space between buttons on smaller screens */
  }
}