.hero {
  background: url('../images/Hero_Image.png') top center no-repeat;
  background-size: cover;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 4rem;
}

:root {
  --header-height: 50%;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: var(--header-height);
  z-index: 2;
  position: relative;
}

.hero .cta-button {
  padding: 0.385em 0.77em; /* 15% bigger */
  background-color: rgba(250, 173, 38, 0.31);
  color: #D3C8BF;
  border: 0.0966rem solid rgba(250, 173, 38, 1); /* 15% bigger */
  border-radius: 0.966rem; /* 15% bigger */
  font-size: 0.67275rem; /* 15% bigger */
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 4.807rem; /* 15% bigger */
  text-align: center;
  transform: translateY(-8rem)
}

.hero .cta-button:hover {
  background-color: rgba(250, 173, 38, 1);
  color: #F3F7E1;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.2rem;
  }
  
  .hero .cta-button {
    transform: translateY(-4rem);
  }
}