.hero {
  background: url('../images/Hero_Image.png') center center no-repeat;
  background-size: auto;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

:root {
  --header-height: 120px;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: var(--header-height);
  z-index: 2;
  position: relative;
}

.hero .cta-button {
  padding: 0.5em 1em;
  background-color: rgba(217, 217, 217, 0.05);
  color: #D3C8BF;
  border: 1px solid rgba(204, 203, 199, 0.34);
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  min-width: 100px;
  text-align: center;
}

.hero .cta-button:hover {
  background-color: rgba(217, 217, 217, 0.1);
  color: #F3F7E1;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.2rem;
  }
  
  .hero .cta-button {
    font-size: 0.8rem;
    padding: 0.8em 1.6em;
  }
}